

<app-banner *ngIf="errorMessage" [errorMessage]="errorMessage" (close)="closeErrorBanner()"></app-banner>
<div class="max-container mb-44">

    <app-dialog *ngIf="isDialogOpen" (close)="closeDialog()" (submit)="submitDialog()" />
    
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-slate-800">
        
    
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        First Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Last Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Role
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Gender
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Age/Birth_Date
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let user of this.paginatedUsers; index as i">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                        <img class="w-10 h-10 rounded-full border border-slate-300/[.08] bg-white/[50%]" src="../../../../assets/svg/profile-img.svg" alt="Jese image">
                        <div class="ps-3">
                            <div class="text-base font-semibold">{{user.first_name}}</div>
                        </div>  
                    </th>
                    <td class="px-6 py-4">
                        {{user.last_name}}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <div class="">{{user.role}}</div>
                        </div>
                    </td>

                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <div class="">{{user.gender}}</div>
                        </div>
                    </td>

                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <div>{{ getAge(user.birth_date) }} years old - {{ user.birth_date }}</div>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <!-- Modal toggle -->
                        <div class="flex gap-5">
                            <a (click)="navTo('/edit', user.id)" type="button" class="btn font-bold text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            <a (click)="openDialog($event, user)" type="button" class="btn font-bold text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                        </div>
                    </td>
                </tr>       
            </tbody>
        </table>

        <div class="flex justify-center py-2">
            <app-pagination
                [previousButtonHandler]="previousPage"
                [nextButtonHandler]="nextPage"
            ></app-pagination>
        </div>
    </div>

</div>