<header class="border-b">
    <div class="max-container flex items-center justify-between padding-x py-5">
        <div>
            <h1 class="text-[2rem] font-montserrat secondary-text font-semibold hover:cursor-pointer scale-95 hover:scale-100 transition duration-300"
                (click)="navTo('')"   
            >PeakFinance</h1>
        </div>
        
        <div>
            <nav>
                <ul class="gap-5 flex max-lg:hidden">
                    <li class="flex justify-center">
                        <a (click)="navTo('/create')" class="primary-button hover:bg-accent/[0.3] transition duration-300">Add User</a>
                    </li>
                    
                    <li>
                        <app-primary-button
                            buttonText='Connect with me'
                            (click)="connectButtonHandler()"
                        >  
                        </app-primary-button>
                    </li> 
                </ul>
            </nav>
        </div>
    </div>
</header>